<% if !logged_in? %>
    <%= link_to "Login", login_path %>
<% end %>

<% if logged_in? %>
    <p>Bem vindo <%= @current_user.name %></p>
    <%= link_to "Log out", logout_path, method: :delete %>
    <%= link_to "Profile", current_user %>
<% end %>

<%= link_to "Users", users_path %>
<%= link_to "Posts", posts_path %>
